<h1><%= @user.username %>'s Books</h1>

<h2>Available Books</h2>
<% @available_books.each do |book| %>
  <div>
    <%= book.title %> by <%= book.author %>
    <%= button_to 'Take Book', take_book_user_path(@user, book_id: book.id), method: :post %>
  </div>
<% end %>

<h2>My Books</h2>
<% @my_books.each do |book| %>
  <div>
    <%= book.title %> by <%= book.author %>
    <%= button_to 'Return Book', return_book_user_path(@user, book_id: book.id), method: :post %>
  </div>
<% end %>
