<h1 class="mb-4">Available Books</h1>

<%= link_to 'New book', new_book_path, class: 'btn btn-primary btn-lg' %>

<% if @books.any? %>
  <% @books.each do |book| %>
    <article class="card mt-3">
      <div class="card-body">
        <h4><%= book.title %></h4>
        <p>ID: <%= book.id %></p>
        <p>Is Taken: <%= book.is_taken %></p>

        <section class="card-text">
          <time datetime="<%= book.formatted_created_at %>">
            <small><%= book.formatted_created_at %></small>
          </time>

          <p class="my-2">
            <%= book.body %>
          </p>
        </section>

        <%= link_to 'Show', book_path(book), class: 'btn btn-primary' %> 
        <%= button_to 'Take Book', take_book_path(book), method: :post, class: 'btn btn-success' if !book.is_taken %>
      </div>
    </article>
  <% end %>
<% else %>
  <p class="mt-3">There are no available books at the moment.</p>
  <p>Total books in database: <%= Book.count %></p>
  <p>Books marked as available: <%= Book.where(is_taken: [false, nil]).count %></p>
<% end %>